/* Div background fixed */
.background-fixed {
	background-attachment: fixed;
}

/* Pulse shadow */
.blob {
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	height: 30px;
	width: 30px;
	margin: 0px;
	text-align: center;
	background: #eee;
	border-radius: 50%;
	box-shadow: 0 0 0 0 #eee;
	cursor: pointer;
	animation: pulse-black 2s infinite;
}
.blob.color {
	background: #1a81f8;
	box-shadow: 0 0 0 0 #1a81f8;
	animation: pulse-anim 2s infinite;
}
@keyframes pulse-anim {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 #1a81f855;
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 20px rgba(255, 121, 63, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
	}
}

/* Scale animation */
.blob-scale {
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	width: 30px;
	height: 30px;
	text-align: center;
	background: #eee;
	cursor: pointer;
	transition: transform 0.70s;
	animation: scale-anim 2s alternate infinite ease-in;
}
.blob-scale:hover {
	background: #1a81f8;
	color: #fff;
}

@keyframes scale-anim {
	0%   {transform: scale(.8);}
	100% {transform: scale(1.5);}
}

.radar {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	float: left;
	height: 50px;
	width: 50px;
	margin: 0px;
	position: relative;
}
.radar::before, .radar::after {
	border: 5px solid #1a81f8;
	width: 0%;
	height: 0%;
    content: "";
    opacity: 1;
	border-radius: 50%;
	position: absolute;
	animation: radar-anim 1s cubic-bezier(0,.2,.8,1) infinite;
	/* transform: translate(50%, 50%); */
}
.radar:before {
	animation-delay:-.5s
}
@keyframes radar-anim {
	0% {
		width: 1%;
		height: 1%;
		opacity:1
	}
	to {
		width:100%;
		height:100%;
		opacity:0
	}
}

/* Rotate animation */
.blob-rotate {
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	width: 30px;
	height: 30px;
	text-align: center;
	background: #eee;
	transition: transform 0.70s;
	cursor: pointer;
}
.blob-rotate:hover {
	transition: 0.70s;
	transform: rotate(360deg);
	background: #1a81f8;
	color: #fff;
}

/* Undeline center link hover */
.a-usderscore {
	color: #222;
	padding: 15px 20px;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	border: 0px solid #1a81f8;
}
.a-usderscore::before {
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: #1a81f8;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
	z-index: 1;
}
.a-usderscore:hover::before {
	width: 100%;
	left: 0;
}

/* Undeline left link hover */
.a-usderscore-left {
	color: #222;
	padding: 15px 20px;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	border: 0px solid #1a81f8;
}
.a-usderscore-left::before {
	background: none repeat scroll 0 0 transparent;
	bottom: 0;
	content: "";
	display: block;
	height: 2px;
	left: 0%;
	position: absolute;
	background: #1a81f8;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
	z-index: 1;
}
.a-usderscore-left:hover::before {
	width: 100%;
	left: 0;
}

/* Blink bg */
.blink-bg {
	transition: transform 0.7s;
	animation: blink-bg 1s alternate infinite ease-in;
}
@keyframes blink-bg {
	0% {
		opacity: 1;
	}
	25% {
		opacity: .5;
	}
	50% {
		opacity: .7;
	}
	75% {
		opacity: .5;
	}
    100% {
		opacity: .3;
	}
}

/*
Samples
<div class="blob orange">+</div>
<div class="blob-rotate">+</div>
<div class="blob-scale">+</div>
<div class="radar"></div>
<a class="a-usderscore">Super center underscore link</a>
<a class="a-usderscore-left">Super left underscore link</a>
*/