:root {
	--bg: #fafbfd;
	--main: #1a81f8;
	--main-light: #f8d57e;
	--violet: #2b2442;
	--gray: #eceff2;
	--gray-dark: #9097a3;
	--text: #42435a;

	--s1-violet: #946eff;
	--s1-violet-bg: #38317f;
	--s1-violet-light: #413a88;
	--s1-violet-input: #393280;
	--s1-violet-input-dark: #2e2a76;
	--s1-violet-button: #00e48b;
	--s1-violet-menu: #3b3388;
}

.scrollbar {
	scrollbar-width: thin;
	scrollbar-color: #1a81f8 #fff;
}

::placeholder {
	color: #636f80c7;
}

.notice {
	float: left; width: 100%;
	padding: 10px;
	margin: 10px 0px;
	font-size: 14px;
	font-weight: 700;
	border: 1px solid #2b2442;
	background: #2b244201;
	color: #2b2442;
	border-radius: 0px;
}
.notice i {
	margin: 5px;
}
.notice-blue {
	border: 0px solid #1a81f8;
	background: #1a81f823;
	color: #1a81f8;
}
.notice-deepblue {
	border: 0px solid #053063;
	background: #05306323;
	color: #053063;
}
.notice-green {
	border: 0px solid #00b83723;
	background: #00b83723;
	color: #00b837;
}
.notice-red {
	border: 0px solid #ff223423;
	background: #ff223423;
	color: #ff2233;
}
.notice-orange {
	border: 0px solid #ff660023;
	background: #ff660023;
	color: #ff6600;
}
.notice-yellow {
	border: 0px solid #ffe60023;
	background: #ffe60023;
	color: #e7d000;
}
.notice-violet {
	border: 0px solid #946eff23;
	background: #946eff23;
	color: #946eff;
}

.error-input {
	float: left;
	width: 100%;
	padding: 5px;
	margin: 0px 0px 5px 0px;
	background: #ff223311;
	border: 1px solid #ff223311;
	color: #ff2233;
	font-size: 12px;
	font-weight: 700;
	border-radius: 0px;
}

h2 {
	float: left; width: 100%;
	color: #1a81f8;
}

label {
	float: left;
	width: 100%;
	color: #2b2442c7;
	font-size: 13px;
	font-weight: 700;
	padding: 10px 0px;
	letter-spacing: 0.6px
}

input {
	float: left;
	width: 100%;
	height: 46px;
	font-size: 15px;
	padding: 13px 15px;
	margin-bottom: 10px;
	transition: border,background,box-shadow .6s;
	outline: none;
	color: #2b2442;
	background: #fafbfd;
	border: 1px solid #e0e3e7;
}

select {
	float: left;
	width: 100%;
	height: 46px;
	font-size: 15px;
	padding: 13px 15px;
	margin-bottom: 10px;
	transition: border,background,box-shadow .6s;
	color: #2b2442;
	background: #fafbfd;
	border: 1px solid #e0e3e7;
}

textarea {
	float: left;
	font-size: 15px;
	padding: 13px 15px;
	margin-bottom: 10px;
	min-height: 150px;
	min-width: 100%;
	max-width: 100%;
	transition: border,background,box-shadow .6s;
	color: #2b2442;
	background: #fafbfd;
	border: 1px solid #e0e3e7;
}

button, input[type=submit] {
	float: right;
	width: auto;
	height: 46px;
	font-size: 15px;
	min-width: 125px;
	padding: 13px 15px;
	margin-bottom: 10px;
	color: #1a81f8;
	background: #fff;
	border: 1px solid #1a81f8;
	transition: al .6s;
	cursor: pointer;
	transition: background .7s;
}
button:hover, input[type=submit]:hover {
	color: #fff;
	background: #1a81f8;
	border: 1px solid #1a81f8;
}

input[type=checkbox], input[type=radio] {
	float: left;
	width: auto;
	height: auto;
}

select {
	-o-appearance: none;
	-ms-appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input:focus, textarea:focus, select:focus {
	border: 1px solid #1a81f8;
	box-shadow: 0px 0px 0px 3px #1a81f822;
}

input:hover, textarea:hover, select:hover {
	border: 1px solid #1a81f8;
}

/* rounded corners */
input, select, textarea, button {
	border-radius: 6px;
}

/*
Custom checkbox:
<div class="checkbox" data-value="1" onclick="this.classList.toggle(\'checkbox-selected\')"><div class="checkbox-dot"></div></div>
<div class="checkbox checkbox-selected" data-value="2" onclick="this.classList.toggle(\'checkbox-selected\')"><div class="checkbox-dot"></div></div>
*/
.checkbox {
	float: left;
	width: 26px;
	height: 26px;
	padding: 5px;
	margin: 5px;
	border: 1px solid #e0e3e7;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.1) inset;
	box-sizing: border-box;
	cursor: pointer;
}
.checkbox:hover {
	border: 1px solid #1a81f8;
}
.checkbox .checkbox-dot {
	float: left;
	width: 15px;
	height: 15px;
	background: #aaa;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
}
.checkbox-selected .checkbox-dot {
	float: left;
	width: 15px;
	height: 15px;
	background: #1a81f8;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
}
/* rounded corners */
.checkbox, .checkbox-dot, .notice {
	border-radius: 6px;
}