/* Menu Top */
.menu-top {
	float: left;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #eceff2;
	font-size: 14px;
}
.menu-top * {
	padding: 5px;
}
.menu-top .logo {
	flex: 1 0 auto;
	border-right: 1px solid #eceff2;
	height: 60px;
}
.menu-top .logo img {
	width: auto;
	height: 100%;
}
.menu-top .search {
	width: 100%;
	display: flex;
	padding: 15px;
	border-right: 1px solid #eceff2;
	height: 60px;
	align-items: center;
	justify-content: flex-start;
}
.menu-top .notify {
	display: flex;
	flex: 1 0 auto;
	padding: 15px 5px;
	border-right: 1px solid #eceff2;
	height: 60px;
	align-items: center;
	justify-content: flex-end;
}
.menu-top .cogs {
	display: flex;
	flex: 1 0 auto;
	border-right: 1px solid #eceff2;
	height: 60px;
	align-items: center;
	justify-content: center;
}
.menu-top .avatar {
	flex: 1 0 auto;
	height: 60px;
}
.menu-top .avatar img {
	float: right;
	width: 50px;
	height: 50px;
	padding: 3px;
	border-radius: 50%;
	border: 1px solid #eceff2;
}
.search-input {
	float: left;
	width: 100%;
	max-width: 250px;
	background: #fafbfd;
	height: auto;
	margin: 0px;
	padding: 5px 10px;
}

.notify-icon {
	position: relative;
	height: 40px;
	width: 40px;
	margin: 0px 5px;
	cursor: pointer;
	background: #fafbfd;
	border: 1px solid #eceff2;
	border-radius: 50%;
}
.notify-icon i {
	width: 100%;
	height: 100%;
	padding-top: 8px;
	text-align: center;
}
.notify-icon span {
	position: absolute;
	top: -5px;
	right: -5px;
	padding: 2px 5px;
	min-width: 20px;
	font-size: 10px;
	text-align: center;
	color: #fff;
	background: #09f;
	border: 1px solid #09f;
	box-shadow: 0px 1px 3px #0099ffaa, inset 0 1px #ffffff;
	border-radius: 4px;
	z-index: 999;
}
.notify-icon:hover span {
	background: #f23;
	border: 1px solid #f23;
	box-shadow: 0px 1px 3px #ff2233ee, inset 0 1px #ffffff;
}

@media all and (max-width: 768px) {
	.menu-top .logo {
		max-width: 160px;
	}

	.menu-top .search, .menu-top .cogs {
		display: none;
	}

	.menu-top .avatar {
		max-width: 60px;
	}
}